.DS_Store
.idea
.qodo
._*
.vscode
certbot-help.txt
test/node_modules
*/node_modules
docker/dev/dnsrouter-config.json.tmp
docker/dev/resolv.conf
.claude

data/database.sqlite
data/keys.json
data/logs/fallback_error.log
data/logs/fallback_http_access.log
data/logs/fallback_http_error.log
data/logs/fallback_stream_access.log
.env
